@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #468FAF; /* Custom hover color */
    --secondary-color: #89C2D9; /* Example secondary color */
    --background-color: #F1F1F1; /* Background color */
    --text-color: #012A4A; /* Main text color */
    --accent-color: #A9D6E5; /* Accent color */
}



.grayyyyy {
    color: #FFFFFF;
    color: #F6F6F6;
    color: #EDEDED;
    color: #D1D1D1;
    color: #B5B5B5;
    color: #999999;
    color: #7D7D7D;
    color: #616161;
    color: #454545;
    color: #292929;
    color: #1D1D1D;
    color: #121212; 
    color: #0A0A0A;
    color: #000000;
  }
  .primaryyyyyy {
    color: #F3F0FF;
    color: #E0DCFF;
    color: #C7BCFF;
    color: #AE9CFF;
    color: #8E75FF;
    color: #635acc; 
    color: #4D4599;
    color: #382F66;
    color: #211933;
    color: #110C1A;
  }
